

.sidebar {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: #333;
    overflow: hidden;
    transition: width 1s;
}
.sidebar .logo {
    color: #f2f2f2;
    padding: 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 1s;
}
.sidebar a {
    display: block;
    color: #f2f2f2;
    padding: 20px;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 1s;
}
.sidebar:hover {
    width: 200px;
}
.sidebar:hover a {
    opacity: 1;
}
/* 추가: 컨텐트 컨테이너 스타일 */
.content-container {
    margin-left: 60px;
    transition: margin-left 1s;
    
}
.backgoround-container{
    padding-top: 70px; /* 상단에 50픽셀의 패딩 추가 */
    background-image: url(img/bg1.png);
    background-position: 100px 200px;
    background-color: white;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* 사이드 바*/
.sidebar:hover ~ .content-container {
    margin-left: 200px;
}
/*index.html 이벤트 */
h3{
    color:green
}
